body {
  margin: 0 auto;
  font-family: 'Raleway';
}

#sidebar-container {
  background: linear-gradient(rgba(255,192,203,1), rgba(255,192,203,.1));
  margin: 0;
  height: 100vh;
  box-shadow: 2px 0 5px lightgray;
}

.sidebar {
  margin-left: 1.5em;
}

h1 {
  font-family: 'Raleway Dots', cursive;
  font-size: 4.2em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}
button {
  background-color: white;
}

.contain {
  margin-top: 3em;
  margin: 0;
}

h2 {
  font-family: 'Codystar', cursive;
  margin-top: 1em;
  text-align: center;
  color: gray;
}
.all-users {
  margin: 3em 5em 0 5em;
  height: 75vh;
  overflow: scroll;
}

li {
  background: snow;
  color: gray;
  border: 2px dotted rgb(152, 150, 164);
  padding: 1em 2em;
  box-shadow: 5px 5px 5px whitesmoke;
  list-style: none;
}

h5 {
  font-size: 1.3em;
  margin: 0;
  font-weight: bolder;
}

p {
  font-size: 1.25em;
}

a {
  color: hotpink;
  text-decoration: none;
  font-size: .75em;
  font-weight: bold;
}
